{% extends 'client/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Chat - BidMe {% endblock %}

{% block css %}
<style>
    body {
        margin-top: 20px;
    }

    .chat-online {
        color: #34ce57
    }

    .chat-offline {
        color: #e4606d
    }

    .chat-messages {
        display: flex;
        flex-direction: column;
        max-height: 800px;
        overflow-y: scroll
    }

    .chat-message-left,
    .chat-message-right {
        display: flex;
        flex-shrink: 0
    }

    .chat-message-left {
        margin-right: auto
    }

    .chat-message-right {
        flex-direction: row-reverse;
        margin-left: auto
    }

    .py-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .flex-grow-0 {
        flex-grow: 0 !important;
    }

    .border-top {
        border-top: 1px solid #dee2e6 !important;
    }
</style>

{% endblock %}


{% block content %}
{% if request.user.is_authenticated %}
<input type="hidden" id="logged-in-userid" value="{{ request.user.id }}">
{% endif %}
<div class="main-banner" style="padding-top:120px;" id="top">
    <main class="content">
        <div class="container p-0">
            <h1 class="h3 mb-3">Messages</h1>
            <div class="card">
                <div class="row g-0">


                    <!-- CHAT USER LIST -->
                    <div class="col-12 col-lg-5 col-xl-3 border-right">
                        <div class="px-4 d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="Search...">
                                </div>
                            </div>
                        </div>

                        {% for user in users_chatted_with %}
                        <a href="{% url 'chat:user_chat' other_user_id=user.id %}"
                            class="list-group-item list-group-item-action border-0">
                            <div class="d-flex align-items-start">
                                <img src="{{ user.profile_image.url }}" class="rounded-circle mr-1"
                                    alt="{{ user.get_full_name }}" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    {{ user.get_user_full_name }}
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div>
                    <!-- CHAT USER LIST -->


                    <!-- <div class="col-12 col-lg-5 col-xl-3 border-right">
                        <div class="px-4 d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="Search...">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="list-group-item list-group-item-action border-0">
                            <div class="badge bg-success float-right">5</div>
                            <div class="d-flex align-items-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png"
                                    class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    Vanessa Tucker
                                    <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action border-0">
                            <div class="badge bg-success float-right">2</div>
                            <div class="d-flex align-items-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                    class="rounded-circle mr-1" alt="William Harris" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    William Harris
                                    <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action border-0">
                            <div class="d-flex align-items-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                    class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    Sharon Lessman
                                    <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action border-0">
                            <div class="d-flex align-items-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar4.png"
                                    class="rounded-circle mr-1" alt="Christina Mason" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    Christina Mason
                                    <div class="small"><span class="fas fa-circle chat-offline"></span> Offline</div>
                                </div>
                            </div>
                        </a>

                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div> -->

                    <!-- END CHAT USER LIST -->


                    <!-- USER MESSAGES -->
                    {% if other_user %}

                    <div class="col-12 col-lg-7 col-xl-9">
                        <div class="py-2 px-4 border-bottom d-lg-block">
                            <div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <img src="{{ other_user.profile_image.url }}" class="rounded-circle mr-1"
                                        alt="{{ other_user.get_user_full_name }}" width="40" height="40">
                                </div>
                                <div class="flex-grow-1 pl-3">
                                    <strong>{{ other_user.get_user_full_name }}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative">
                            <div class="chat-messages p-4" id="chat-messages">
                                {% if messages %}
                                {% for msg in messages %}
                                <div
                                    class="pb-4 {% if request.user == msg.sender %}chat-message-right{% else %}chat-message-left{% endif %}">
                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                        <div class="font-weight-bold mb-1">
                                            {% if request.user == msg.sender %}
                                            Me
                                            {% else %}
                                            {{ msg.sender.get_user_full_name }}
                                            {% endif %}
                                        </div>
                                        {{ msg.message }}
                                        <div class="text-muted small text-nowrap mt-2">
                                            {{ msg.timestamp|date:"g:i a" }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                        <div class="flex-grow-0 py-3 px-4 border-top">
                            <div class="input-group">
                                <input type="text" class="form-control" id="chat-message-input">
                                <button type="submit" class="btn btn-primary" id="chat-message-submit">Send</button>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="my-5 col-lg-7 col-xl-9 d-flex align-items-center justify-content-center">
                        <div class="text-center">
                            <img src="{% static 'client/images/chat/chat.png' %}" alt="Chat" class="img-fluid"
                                style="max-width: 100px;">
                            <h2>Welcome to chat!</h2>
                            <p>Start a direct chat with the seller.</p>
                        </div>
                    </div>

                    {% endif %}
                    <!-- END USER MESSAGES -->

                </div>
            </div>
        </div>
    </main>
</div>


{{ request.user.id|json_script:"user" }}
{{ request.user.username|json_script:"request-user" }}

{% endblock %}

{% block js %}
<script src="{% static 'client/js/chat.js' %}"></script>
{% endblock %}