{% extends 'client/base.html' %}
{% load static %}

{% load thumbnail %}

{% block content %}

<div class="main-banner" style="padding-top:120px;" id="top">
    <!-- Lot Detail Start -->
    <section class="container mt-5">
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-8">
                <h3 class="mb-4 text-center">Seller's Products</h3>
            </div>

            <!-- Seller Information -->
            <div class="col-lg-4">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{ seller.profile_image.url }}" style="height:170px;width:170px;"
                                        class="img-fluid rounded-circle" alt="{{ seller.get_user_full_name }}">
                                </div>
                                <div class="col-md-6">
                                    <h3 class="card-title">
                                        <a href="#">
                                            {{ seller.first_name }} {{ seller.last_name }}
                                        </a>
                                    </h3>
                                    <p class="card-text text-muted">Kathmandu, Nepal</p>
                                    <p class="card-text text-muted">Bidme memeber since
                                        {{ seller.created_at|date:"F j, Y" }}

                                    </p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <a href="{% url 'chat:user_chat' other_user_id=seller.id %}"
                                        class="btn btn-secondary btn-block">
                                        <i class="bi bi-chat-dots"></i> Chat</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary btn-block">
                                        <i class="bi bi-plus"></i> Follow
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Seller Products -->
            <div class="col-lg-8">
                <div class="row row-cols-1 row-cols-md-2 g-3">
                    {% if seller_lots %}
                    {% for lot in seller_lots %}
                    <div class="col mb-4">
                        <a href="{{ lot.get_absolute_url }}" class="text-decoration-none">
                            <div class="card border-0 h-100 item" style="cursor: pointer">

                                <div class="thumb position-relative">
                                    {% with first_image=lot.lotImages.first %}
                                    {% if first_image %}
                                    <img src="{{ first_image.image|thumbnail_url:'home_lot_image_thumbnail' }}"
                                        alt="{{ lot.name }}" class="card-img-top">
                                    {% endif %}
                                    {% endwith %}

                                </div>
                                {% with users_favourite=lot.favorites.all %}
                                <div class="position-absolute p-2">
                                    <a href="#" class="favorite-lot" data-id="{{ lot.id }}"
                                        data-action="{% if request.user in users_favourite %}remove-from-favourite{% else %}add-to-favourite{% endif %}">
                                        {% if request.user not in users_favourite %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor" class="bi bi-heart" viewBox="0 0 24 24">
                                            <path
                                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                        </svg>
                                        {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd"
                                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                        </svg>
                                        {% endif %}
                                    </a>
                                </div>
                                {% endwith %}

                                <div class="down-content">
                                    <p class="display-5 font-weight-bold text-capitalize">
                                        {{ lot.name }}
                                    </p>
                                    <p class="text-muted text-uppercase">current bid</p>
                                    <p>Rs. {{ lot.starting_price }}</p>
                                    <p class="text-muted">{{ lot.get_time_left }}</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    {% empty %}
                    <div class="col-12">There are no results for your query.</div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
    </section>

</div>
{% endblock %}