<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Request Esewa Payment - BidMe {% endblock %}

    <style>
        /* #myform{
            display: none;
        } */
    </style>
</head>

<body>
    <h3 style="text-align: center;">You will be redirected to the esewa website.</h3>
    <form action="https://uat.esewa.com.np/epay/main" method="POST" id="myform">
        <input value="{{amount}}" name="tAmt" type="text">
        <input value="{{amount}}" name="amt" type="text">
        <input value="0" name="txAmt" type="text">
        <input value="0" name="psc" type="text">
        <input value="0" name="pdc" type="text">
        <input value="EPAYTEST" name="scd" type="text">
        <input value="lot_{{lot.id}}" name="pid" type="text">
        <input value="http://127.0.0.1:8000/payment/verify/esewa/" type="text" name="su">
        <input value="{{request.build_absolute_uri}}" type="text" name="fu">
        <input value="Submit" type="submit">
    </form>
    <!-- <script>
        setTimeout(() => {
            document.getElementById("myform").submit()
        }, 500);
    </script> -->
</body>

</html>