{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <title>{% block title %}{% endblock %}</title>

  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="{% static 'client/css/bootstrap.min.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'client/css/font-awesome.css' %}">

  <link rel="stylesheet" href="{% static 'client/css/templatemo-hexashop.css' %}">

  <link rel="stylesheet" href="{% static 'client/css/owl-carousel.css' %}">

  <link rel="stylesheet" href="{% static 'client/css/lightbox.css' %}">
</head>

<body>
  {% include 'includes/client/header.html' %}

  {% block content %} {% endblock %}

  {% include 'includes/client/footer.html' %}

  <!-- jQuery -->
  <script src="{% static 'client/js/jquery-2.1.0.min.js' %}"></script>

  <!-- Bootstrap -->
  <script src="{% static 'client/js/popper.js' %}"></script>
  <script src="{% static 'client/js/bootstrap.min.js' %}"></script>

  <!-- Plugins -->
  <script src="{% static 'client/js/owl-carousel.js' %}"></script>
  <script src="{% static 'client/js/accordions.js' %}"></script>
  <script src="{% static 'client/js/datepicker.js' %}"></script>
  <script src="{% static 'client/js/scrollreveal.min.js' %}"></script>
  <script src="{% static 'client/js/waypoints.min.js' %}"></script>
  <script src="{% static 'client/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'client/js/imgfix.min.js' %}"></script>
  <script src="{% static 'client/js/slick.js' %}"></script>
  <script src="{% static 'client/js/lightbox.js' %}"></script>
  <script src="{% static 'client/js/isotope.js' %}"></script>

  <!-- Global Init -->
  <script src="{% static 'client/js/custom.js' %}"></script>

  <script>

    $(function () {
      var selectedClass = "";
      $("p").click(function () {
        selectedClass = $(this).attr("data-rel");
        $("#portfolio").fadeTo(50, 0.1);
        $("#portfolio div").not("." + selectedClass).fadeOut();
        setTimeout(function () {
          $("." + selectedClass).fadeIn();
          $("#portfolio").fadeTo(50, 1);
        }, 500);

      });
    });

  </script>

</body>

</html>