{% extends 'myadmin/base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% include 'includes/myadmin/breadcrumbs.html' %}
            <div class="row mb-4">
                <div class="col">
                    {% if category %}
                    <h2>{{ category.name }}</h2>
                    <p>{{ category.description }}</p>
                    {% else %}
                    <h2>Category</h2>
                    {% endif %}
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#categoryUpdateModal"
                        onclick="handleAddButton()">Create</button>
                </div>
            </div>
            <div>
                <table id="categoryTable" class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date Added</th>
                            <th></th>
                            <th></th>
                            <!-- Add other table headers as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{% url 'myadmin:category_detail' category.slug %}">{{ category.name }}</a>
                            </td>
                            <td>{{ category.created }}</td>
                            <td><button class="btn btn-outline-secondary" onclick="handleUpdateButton(this)"
                                    data-categoryId="{{ category.id }}" data-categoryName="{{ category.name }}"
                                    data-categorySlug="{{ category.slug }}"
                                    data-categoryDescription="{{ category.description }}" data-toggle="modal"
                                    data-target="#categoryUpdateModal"><i class="align-middle"
                                        data-feather="edit"></i></button></td>
                            <td><button class="btn btn-outline-danger" onclick="handleDeleteButton(this)"
                                    data-categoryId="{{ category.id }}" data-categoryName="{{ category.name }}"
                                    data-categorySlug="{{ category.slug }}"
                                    data-categoryDescription="{{ category.description }}" data-toggle="modal"
                                    data-target="#categoryDeleteModal"><i class="align-middle"
                                        data-feather="delete"></i></button></td>
                            <!-- Add other table data fields as needed -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


{% endblock %}

{% block modal %}
{% include 'lot/category/updateModal.html' %}
{% include 'lot/category/deleteModal.html' %}
{% endblock %}


{% block js %}
<script>
    $(document).ready(function () {
        $('#categoryTable').DataTable({
            response: true,
        });
    });

    // auto-fill slug fields
    function updateSlug() {
        // Get the value of the name field
        var nameValue = document.getElementById('name_input').value;

        // Replace spaces with dashes and convert to lowercase to create a slug
        var slugValue = nameValue.replace(/\s+/g, '-').toLowerCase();

        // Update the slug field
        document.getElementById('slug_input').value = slugValue;
    }

    function handleAddButton() {
        const actionInput = document.getElementById("action_input");
        document.getElementById("name_input").value = "";
        document.getElementById("slug_input").value = "";
        document.getElementById("description_input").value = "";
        actionInput.value = "create"
        document.getElementById("categoryModalHeading").innerText = "Add Category";
        document.getElementById("categoryModalSubmitBtn").innerText = "Add";
        document.getElementById("parent_id_input").value = "{{ category.id }}"
    }

    function handleUpdateButton(e) {
        document.getElementById("categoryModalHeading").innerText = "Update Category";
        document.getElementById("categoryModalSubmitBtn").innerText = "Update";
        const actionInput = document.getElementById("action_input");
        const categoryIdInput = document.getElementById("category_id_input");
        actionInput.value = "update";
        const categoryId = e.getAttribute('data-categoryId');
        document.getElementById("name_input").value = e.getAttribute('data-categoryName');
        document.getElementById("slug_input").value = e.getAttribute('data-categorySlug');
        document.getElementById("description_input").value = e.getAttribute('data-categoryDescription');
        categoryIdInput.value = categoryId;
    }

    function handleDeleteButton(e) {
        const categoryDeleteForm = document.getElementById("categoryDeleteForm");
        const categoryId = e.getAttribute('data-categorySlug');
        categoryDeleteForm.action = `/myadmin/category/delete/${categoryId}/`;
        document.getElementById("categoryNameField").innerText = e.getAttribute('data-categoryName');
    }
</script>
{% endblock %}