{% extends 'client/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="main-banner" style="padding-top:120px;" id="top">
    <div class="container">
        <!-- Sold Lots in auction -->
        <h3 class="mt-3">Here are all the bids made.</h3>
        {% if user_bids %}

        <table id="bidsOnLotTable" class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lot Name</th>
                    <th scope="col">Bidding Price</th>
                    <th scope="col">Bidded At</th>
                </tr>
            </thead>
            <tbody>
                {% for bid in user_bids %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td><a href="{{ bid.lot.get_absolute_url }}">{{ bid.lot.name }}</a>
                    </td>
                    <td>{{ bid.amount|intcomma }}</td>
                    <td>{{ bid.bidded_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-muted">You don't have have any lots sold yet.</p>
        {% endif %}
        <!-- END Sold Lots in auction -->

    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#bidsOnLotTable').DataTable({
            response: true,
        });
    });
</script>
{% endblock %}