{% extends 'client/base.html' %}
{% load static %}
{% load lot_tags %}
{% load thumbnail %}
{% load humanize %}
{% block content %}

{% block css %}

<style>
    #featured {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .thumbnail {
        object-fit: cover;
        max-width: 180px;
        max-height: 100px;
        cursor: pointer;
        margin: 5px;
        border: 1px solid rgb(230, 220, 220);

    }

    .thumbnail:hover {
        border: 1px solid rgb(185, 46, 46);
    }

    #slide-wrapper {
        max-width: 800px;
        display: flex;
        min-height: 100px;
        align-items: center;
    }

    #slider {
        width: 635px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    #slider::-webkit-scrollbar {
        display: none;
    }

    .arrow {
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: .5;
        transition: .3s;
    }

    .arrow:hover {
        opacity: 1;
    }

    @media screen and (max-width: 768px) {
        .thumbnail {
            max-width: 100px;
            /* Adjust as needed for smaller devices */
            max-height: 80px;
            /* Adjust as needed for smaller devices */
        }

        #slide-wrapper {
            max-width: 100%;
            overflow-x: smooth;
            display: flex;
            min-height: 100px;
            align-items: center;
            -webkit-overflow-scrolling: touch;
        }

    }
</style>
{% endblock %}

<div class="main-banner" style="padding-top:120px;" id="top">
    <!-- Lot Detail Start -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-8 pb-5">
                <h3 class="font-weight-semi-bold mb-4">{{ lot.name | title }}</h3>

                <!-- lot images start -->
                <div class="row pr-xl-4">

                    <img id="featured" class="mb-2"
                        src="{% if lot_images %}{{ lot_images.0.image|thumbnail_url:'lot_detail_thumbnail' }}{% endif %}">

                    <div id="slide-wrapper">
                        <i class="bi bi-chevron-left arrow" id="slideLeft"></i>
                        <div id="slider">
                            {% for image in lot_images %}
                            <img class="thumbnail {% if forloop.first %}active{% endif %}"
                                src="{{ image.image|thumbnail_url:'lot_detail_thumbnail' }}">
                            {% endfor %}
                        </div>
                        <i class="bi bi-chevron-right arrow pl-3" id="slideRight"></i>
                    </div>
                    <!-- lot images end -->

                    <!-- lot description start -->
                    <div class="row mt-md-5">
                        <div class="col">
                            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                                <a class="nav-item nav-link active" data-toggle="tab" href="#item-overview">Item
                                    Overview</a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#shipping">Shipping</a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#about-seller">About Seller</a>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="item-overview">
                                    <h5 class="mb-3">Description</h5>
                                    <p>
                                        {{ lot.description|markdown }}
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="shipping">
                                    <h5 class="mb-3">Shipping</h5>
                                    <p class="text-bold">
                                        Estimated delivery time
                                    </p>
                                    <p class="text-muted">Once you make your payment, the seller is required to ship
                                        your order within 3 working days. Shipping to your location from Kathmandu
                                        usually takes 2-8
                                        days.
                                        <br>
                                        Current safety precautions in some regions mean shipping might take a little
                                        longer. We are closely monitoring the situation and, so far, there haven’t been
                                        many delays.
                                        We’ll keep you updated if the situation changes.
                                    </p>

                                    <p class="text-bold mt-2">
                                        Save shipping costs
                                    </p>
                                    <p class="text-muted">
                                        You can pick up this object from the seller in:
                                        {{ shipping_details.item_location }}.
                                        Each lot has it's own Shipping, Handling, and Insurance Cost. You MAY NOT
                                        combine
                                        shipping costs however, items will be
                                        shipped to you in the same mailing package when possible.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="about-seller">
                                    <div class="row">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img src="{{ lot.seller.profile_image.url }}"
                                                            style="height:170px;width:170px;" class="img-fluid rounded-circle" alt="{{ lot.seller.get_user_full_name }}">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <h3 class="card-title">
                                                            <a href="{{ lot.get_absolute_url_full_name }}">
                                                                {{ lot.seller.first_name }} {{ lot.seller.last_name }}
                                                            </a>
                                                        </h3>
                                                        <p class="card-text text-muted">Kathmandu, Nepal</p>
                                                        <p class="card-text text-muted">Bidme memeber since
                                                            {{ lot.seller.created_at|date:"F j, Y" }}

                                                        </p>
                                                        <p class="card-text">
                                                            <a href="{{ lot.get_absolute_url_full_name }}"
                                                                class="text-primary">View Seller Profile</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-6">
                                                        <a href="{% url 'chat:user_chat' other_user_id=lot.seller.id %}" class="btn btn-secondary btn-block">
                                                            <i class="bi bi-chat-dots"></i> Chat with
                                                            Seller</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="#" class="btn btn-primary btn-block">
                                                            <i class="bi bi-plus"></i> Follow
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <h4 class="mb-4">1 review for "Colorful Stylish Shirt"</h4>
                                            <div class="media mb-4">
                                                <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1"
                                                    style="width: 45px" />
                                                <div class="media-body">
                                                    <h6>
                                                        John Doe<small> - <i>01 Jan 2045</i></small>
                                                    </h6>
                                                    <div class="text-primary mb-2">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star-half-alt"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                    <p>
                                                        Diam amet duo labore stet elitr ea clita ipsum, tempor
                                                        labore accusam ipsum et no at. Kasd diam tempor rebum
                                                        magna dolores sed sed eirmod ipsum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="mb-4">Leave a review</h4>
                                            <small>Your email address will not be published. Required fields
                                                are marked *</small>
                                            <div class="d-flex my-3">
                                                <p class="mb-0 mr-2">Your Rating * :</p>
                                                <div class="text-primary">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                            <form>
                                                <div class="form-group">
                                                    <label for="message">Your Review *</label>
                                                    <textarea id="message" cols="30" rows="5"
                                                        class="form-control"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Your Name *</label>
                                                    <input type="text" class="form-control" id="name" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Your Email *</label>
                                                    <input type="email" class="form-control" id="email" />
                                                </div>
                                                <div class="form-group mb-0">
                                                    <input type="submit" value="Leave Your Review"
                                                        class="btn btn-primary px-3" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- lot description end -->
                </div>
            </div>

            <div class="col-lg-4 pb-5">

                <h5 id="countdown_{{ lot.id }}" class="font-weight-semi-bold mb-4">
                </h5>
                <div class="card">
                    <div class="card-body">
                        {% if bids %}
                        <p class="text-muted">Current Bid</p>
                        <h3 class="card-title">Rs. <span id="currentBidAmt">{{ bids.0.amount }}</span></h3>
                        {% else %}
                        <p class="text-muted" id="bidText">Starting Bid</p>
                        <h3 class="card-title">Rs. <span id="currentBidAmt">{{ lot.starting_price }}
                        </h3>
                        {% endif %}
                        <form id='bidForm'>
                            <div class="form-outline mb-4">
                                <select id="bidAmount" name="bid_amount" class="form-control">
                                </select>
                            </div>
                            {% if request.user == lot.seller %}
                                <button id="placeBidBtn" type="submit" class="btn btn-primary d-none">Place a Bid</button>
                            {% else %}
                                <button id="placeBidBtn" type="submit" class="btn btn-primary">Place a Bid</button>
                            {% endif %}

                        </form>
                        <p class="card-text mb-4">
                            <p class="text-muted"><i class="bi bi-truck"></i> Rs. 100 from Kathmandu, arrives in 2-8 days
                            </p>
                            <p class="text-muted"><i class="bi bi-bank"></i> Buyer Protection fee: 9% + € 3</p>
                            <p class="text-muted" id="closingTimeText_{{ lot.id }}"></p>

                        </p>
                    

                        <hr>
                        <div id="top3BidsContainer">
                            {% for bid in bids|slice:"3" %}
                                <div class="row user-bid">
                                    <div class="col text-muted">
                                        <small>{% if bid.bidder == request.user %} You {% else %} Bidder {{ bid.bidder.get_username_display }} {% endif %}</small>
                                    </div>
                                    <div class="col text-muted">
                                        <small>{{ bid.bidded_at|naturaltime }}</small>
                                    </div>
                                    <div class="col text-muted">
                                        <small>Rs. {{ bid.amount|intcomma }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if bids|length > 3 %}
                            <p id="seeAllBids" class="text-bold my-2" style="cursor: pointer;">See all bids (<span id='totalBids'>{{ bids|length }} </span>) <i class="bi bi-chevron-down"></i></p>
                        {% else %}
                            <p id="seeAllBids" class="text-bold my-2 d-none" style="cursor: pointer;">See all bids (<span id='totalBids'>{{ bids|length }} </span>) <i class="bi bi-chevron-down"></i></p>
                        {% endif %}
                        <div id="seeAllBidsContainer">
                            {% if bids|length > 3 %}

                                {% for bid in bids|slice:"3:" %}
                                    <div class="row user-bid" style="display: none;">
                                        <div class="col text-muted">
                                            <small>Bidder {{ bid.bidder.get_username_display }}</small>
                                        </div>
                                        <div class="col text-muted">
                                            <small>{{ bid.bidded_at|naturaltime }}</small>
                                        </div>
                                        <div class="col text-muted">
                                            <small>Rs. {{ bid.amount|intcomma }}</small>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            </div>
                        
                        {% if bids|length == 0 %}
                            <p class="text-bold" id="noBidMsg">No bids placed.</p>
                        {% endif %}
                    </div>

                </div>

                <div class="card mt-5">
                    <div class="card-body">
                        <h6 class="text-bold">Any Questions?</h6>
                        <p class="card-text mb-4">
                        <p class="text-muted"><i class="bi bi-question-circle-fill"></i>
                            <a href="#">Get in touch via our Help
                                Centre</a>
                        </p>
                        <h6 class="text-bold mt-3">Payment Options</h6>
                        <div class="mt-3">
                            <img src="{% static 'client/images/logo/esewa.png' %}" alt="esewa"
                                style="width: 80px; height: 40px;">
                            <img src="{% static 'client/images/logo/khalti.png' %}" alt="khalti"
                                style="width: 80px; height: 40px;">
                        </div>
                        <h6 class="text-bold mt-3">
                            Share this object with your friends
                        </h6>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ request.user.id|json_script:"user" }}
    {{ request.user.username|json_script:"request-user" }}
    {{ lot.id|json_script:"lot-id" }}


    {% endblock %}
    <!-- Lot Detail End -->

    {% block js %}
<script>

    $(document).ready(function() {
        // get remaining time and update countdown for lot id
        var closingTime_{{ lot.pk }} = new Date('{{ lot.get_closing_time|date:"Y-m-d H:i:s" }}').getTime();
        var countdown_{{ lot.id }} = setInterval(function () {
            var now = new Date().getTime();
            var distance = closingTime_{{ lot.id }} - now;
            if (distance < 0) {
                clearInterval(countdown_{{ lot.id }});
                document.getElementById('countdown_{{ lot.id }}').innerHTML = 'Bidding closed.';
                return;
            }

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            var remainingTime = '';
            if (days > 0) {
                remainingTime += `${days}d `;
            }
            if (hours > 0 || days > 0) {
                remainingTime += `${hours}h `;
            }
            if (minutes > 0 || hours > 0 || days > 0) {
                remainingTime += `${minutes}m `;
            }
            remainingTime += `${seconds}s`;

            var lotClosingTimeString = new Date(closingTime_{{ lot.id }}).toLocaleString('en-US',
            { weekday: 'long', hour: 'numeric', minute: 'numeric'
            });
            document.getElementById('countdown_{{ lot.id }}').innerHTML = `Closes in ${remainingTime
            }`;
            document.getElementById('closingTimeText_{{ lot.id }}').innerHTML = `<i class="bi bi-hourglass-bottom"></i> Closes: ${lotClosingTimeString
            }`;
        },
        1000);
    });

//----------------------------------------------------
    // function to list bidding amount in dropdown
//----------------------------------------------------
    var startingPrice = {{ lot.starting_price }};
    var highestBidPrice = {% if bids %}{{ bids.0.amount }}{% else %}{{ lot.starting_price }}{% endif %};


    // get the maximum bid limit based on the starting price or the highest bid amount
    function calculateMaxBidLimit(startingPrice, highestBidPrice) {
        var multiplier = 2;
        var additionalAmount = 500;
        if (highestBidPrice !== null && highestBidPrice > startingPrice) {
            return highestBidPrice * multiplier + additionalAmount;
        } else {
            return startingPrice * multiplier + additionalAmount;
        }
    }


    var maxBidLimit = calculateMaxBidLimit(startingPrice, highestBidPrice);
    console.log("maxBidLimit", maxBidLimit);
    // increments based on the maximum bid limit
    function generateIncrements(maxBidLimit, highestBidPrice) {
        var increments = [];
        var increment = 20;
        var startingPrice = highestBidPrice || {{ lot.starting_price }}; 

        while (startingPrice + increment <= maxBidLimit && increments.length < 15) {
            increments.push(increment);
            increment += 50;
        }
        return increments;
    }
    
    // generate dropwdown items of bidding prices
    function generateBiddingPricesOptions(maxBidLimit, highestBidPrice) {
        console.log('generating prices..');
        console.log(typeof highestBidPrice);
        if (typeof highestBidPrice === 'string') {
            // highestBidPrice value uses django intcomma
            highestBidPrice = parseInt(highestBidPrice.replace(/,/g, ''));
        }
        var increments = generateIncrements(maxBidLimit, highestBidPrice);
        
        var bidAmountOptions = document.getElementById('bidAmount');
        bidAmountOptions.innerHTML = '';
        increments.forEach(function (increment) {
            var option = document.createElement('option');
            option.text = 'Rs. ' + (highestBidPrice + increment);
            option.value = highestBidPrice + increment;
            bidAmountOptions.add(option);
        });
    }
    
        // generate bid amount selection option
        generateBiddingPricesOptions(maxBidLimit, highestBidPrice);

    //----------------------------------------------------
    // END list bidding amount in dropdown here
    //----------------------------------------------------

    // submitting the bid form
    var bidForm = document.getElementById('bidForm');
    bidForm.addEventListener('submit', function (e) {
        e.preventDefault();
        var bidAmountSelect = document.getElementById('bidAmount');

        var selectedBidAmount = bidAmountSelect.value;
            // bid confirmation alert
            Swal.fire({
                title: `Confirm bid of Rs.${selectedBidAmount}!`,
                text: "Please note that all bids are binding. You are required to purchase any lot you win. The bid price does not include shipping cost and the auction fee.",
                showCancelButton: true,
                confirmButtonText: "Confirm",
                cancelButtonText: "Cancel",
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn btn-primary mr-5',
                    cancelButton: 'btn btn-secondary'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const csrftoken = Cookies.get('csrftoken');

                    console.log('latest bid socket init');
                    let location = window.location;
                    let wsStart = 'ws://';

                    if (location.protocol === 'https:') {
                        wsStart = 'wss://';
                    }

                    let lotId = JSON.parse(
                        document.getElementById('lot-id').textContent
                    );
                    const urlBid = wsStart + location.host + `/ws/place-bid/` + lotId + '/';

                    const requestUser = JSON.parse(
                        document.getElementById('request-user').textContent
                    );

                    const bidSocket = new WebSocket(urlBid);

                    bidSocket.onopen = async function (e) {
                        console.log('WebSocket connection established. Sending bid...');
                        bidSocket.send(JSON.stringify({
                            'bidAmount': selectedBidAmount,
                        }));
                    };

                    bidSocket.onmessage = async function (e) {
                        console.log('Message received from server:', e.data);
                        const bidData = JSON.parse(e.data);
                        console.log(bidData);

                        const latestBids = bidData.latest_bids;
                        updateBids(latestBids);

                        Swal.fire({
                            title: "Thanks for your bid!",
                            text: "Your bid has been successfully placed. You now hold the highest bid!",
                            icon: "success",
                            buttonsStyling: false,
                            customClass: {
                                confirmButton: 'btn btn-primary'
                            }
                        });
                    };


                }
            });
        });




    // Function to update bids dynamically
    function updateBids(data) {
        console.log("update bids is triggered....");
        console.log(data);
                var allTimeHighestPrice = data[0]['amount'];
                console.log(allTimeHighestPrice);
                var bidsCount = data.length;
                var currentBidAmt = document.getElementById('currentBidAmt');
                var bidPriceText = document.getElementById("bidText");
                var noBidMsg = document.getElementById('noBidMsg');
                if (noBidMsg !== null) {
                    noBidMsg.classList.add('d-none');
                }


                var seeAllBids = document.getElementById('seeAllBids');
                
                // if "seeAllBids" already exists, hide the no bids message
                if (seeAllBids !== null){
                    if(bidsCount > 3){
                        seeAllBids.classList.remove('d-none');
                    }
                }
                
                if(bidPriceText !== null){
                    bidPriceText.innerHTML = "Current Bid";
                }
                currentBidAmt.innerHTML = allTimeHighestPrice;
                
                var top3BidsContainer = document.getElementById('top3BidsContainer');
                var seeAllBidsContainer = document.getElementById('seeAllBidsContainer');

                // Clear existing bids
                top3BidsContainer.innerHTML = ''; 
                if(bidsCount > 2){
                    seeAllBidsContainer.innerHTML = '';
                }
                data.forEach((bid, index) => {
                    var isCurrentUser = "{{ request.user.get_username_display }}" === bid.bidder;
                    var bidderDisplay = isCurrentUser ? "You" : "Bidder " + bid.bidder;

                    var bidHtml = `<div class="row user-bid">
                                        <div class="col text-muted">
                                            <small>${bidderDisplay}</small>
                                        </div>
                                        <div class="col text-muted">
                                            <small>${bid.bidded_at}</small>
                                        </div>
                                        <div class="col text-muted">
                                            <small>Rs. ${bid.amount}</small>
                                        </div>
                                    </div>`;
                    if (index < 3) {
                        top3BidsContainer.insertAdjacentHTML('beforeend', bidHtml);  // Append new top 3 bid HTML
                    } else {
                        seeAllBidsContainer.insertAdjacentHTML('beforeend', bidHtml);  // Append new see all bid HTML
                    }
                });
                // updating bids count
                document.getElementById('totalBids').innerHTML = bidsCount;

                // generate bid amount selection option
                var bidLimit = calculateMaxBidLimit(highestBidPrice, allTimeHighestPrice);
                console.log(highestBidPrice, allTimeHighestPrice, bidLimit);
                generateBiddingPricesOptions(bidLimit, allTimeHighestPrice);
                toggleBidDisplay();
    }

        {% if bids|length > 3 %}
    document.getElementById('seeAllBids').addEventListener('click', toggleBidDisplay);
    {% endif %}

    // only the bids after the top 3 will be hidden when collapsing, and the top 3 bids will remain visible.
    // When expanding, all bids after the top 3 will be shown.
    function toggleBidDisplay() {
        console.log('toggleBidDisplay');
        var bids = document.getElementsByClassName('user-bid');
        var icon = document.getElementById('seeAllBids').getElementsByTagName('i')[0];
        for (var i = 3; i < bids.length; i++) {
            if (bids[i].style.display === 'none') {
                bids[i].style.display = 'flex';
            } else {
                bids[i].style.display = 'none';
            }
        }

        if (bids[3].style.display === 'none') {
            icon.classList.remove('bi-chevron-up');
            icon.classList.add('bi-chevron-down');
        } else {
            icon.classList.remove('bi-chevron-down');
            icon.classList.add('bi-chevron-up');
        }
    }

</script>
    {% endblock %}