{% extends 'client/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="main-banner" style="padding-top: 120px;" id="top">
    <div class="container">
        <!-- Tab Navigation -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="unpaid-lots-tab" data-toggle="tab" href="#unpaid-lots" role="tab"
                    aria-controls="unpaid-lots" aria-selected="true">Unpaid Lots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="paid-lots-tab" data-toggle="tab" href="#paid-lots" role="tab"
                    aria-controls="paid-lots" aria-selected="false">Paid Lots</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="myTabContent">
            <!-- Unpaid Lots Tab Pane -->
            <div class="tab-pane fade show active" id="unpaid-lots" role="tabpanel" aria-labelledby="unpaid-lots-tab">
                <table id="tblUnpaidLots" class="table mt-4 display responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th scope="col">Lot Name</th>
                            <th scope="col">Amount Bidded</th>
                            <th scope="col">Started At</th>
                            <th scope="col">Auction (in Days)</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!-- Paid Lots Tab Pane -->
            <div class="tab-pane fade" id="paid-lots" role="tabpanel" aria-labelledby="paid-lots-tab">
                <table id="tblPaidLots" class="table mt-4 display responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th scope="col">Lot Name</th>
                            <th scope="col">Amount Bidded</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Shipping Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel">Select Payment Option</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please select your preferred payment option:</p>
                <button type="button" class="btn btn-light payment-option" data-payment="esewa">
                    <img src="{% static 'client/images/logo/esewa.png' %}" alt="Esewa"
                        style="width: 100px; height: auto;">
                </button>
                <button type="button" class="btn btn-light payment-option" data-payment="khalti">
                    <img src="{% static 'client/images/logo/khalti.png' %}" alt="Esewa"
                        style="width: 100px; height: auto;">


                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'client/js/tables/won_and_unpaid_lots.js' %}"></script>
<script src="{% static 'client/js/tables/won_and_paid_lots.js' %}"></script>


{% endblock %}