{% extends 'client/base.html' %}
{% load static %}
{% block title %}Forgot Password - BidMe {% endblock %}

{% block content %}

<div class="main-banner">
    <div class="container-fluid">
        <div class="card w-50 mx-auto mt-5">
            <div class="card-body">
                <h5 class="card-title">Forgot your password?</h5>
                <hr>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <p class="card-text">Please enter the account that you want to reset the password.</p>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" name="email" class="form-control form-control-sm" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="d-grid gap-4 d-md-flex justify-content-md-end">
                        <a class="btn btn-primary mr-2" href="{% url 'auctionapp:home' %}" role="button">Cancel</a>
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}