{% extends 'client/base.html' %}
{% load static %}
{% block title %}Login - BidMe {% endblock %}

<!-- Login -->
{% block content %}
<div class="main-banner" style="padding-top:120px;border:none;" id="top">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-title text-center mb-4">
                            <h4>Login</h4>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <!-- Email input -->
                            <div class="form-floating mb-4">
                                <label class="form-label" for="userEmail">Email</label>
                                <input type="email" name="email" id="userEmail" class="form-control" />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="userPassword">Password</label>
                                <input type="password" name="password" id="userPassword" class="form-control" />
                            </div>

                            <div class="row mb-4">
                                <div class="col d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="userRememberMe"
                                            checked />
                                        <label class="form-check-label" for="userRememberMe"> Remember me </label>
                                    </div>
                                </div>

                                <div class="col">
                                    <a href="{% url 'account:request_password_reset' %}">Forgot password?</a>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>Not a member? <a href="{% url 'account:register' %}" id="signupLink">Register</a>
                                </p>
                                <p>or continue with:
                                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"
                                        class="btn btn-primary btn-floating mx-1  mb-0 me-3">
                                        <i class="fab fa-google"></i>
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block js %}
<script>
    var signupLink = document.getElementById('signupLink');
    var registerUrl = "{% url 'account:register' %}";
    console.log(registerUrl)
    var searchParams = new URLSearchParams(window.location.search);
    var nextUrl = searchParams.get('next');
    console.log(nextUrl)

    if (nextUrl) {
        signupLink.href = registerUrl + '?next=' + encodeURIComponent(nextUrl);
    } else {
        signupLink.href = registerUrl;  // Fallback to the default register URL
    }
    console.log(signupLink.href)
</script>
{% endblock %}