{% extends 'client/base.html' %}
{% load static %}
{% block title %}Login - BidMe {% endblock %}

<!-- Login -->
{% block content %}
<div class="main-banner" style="padding-top:120px;border:none;" id="top">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-title text-center mb-4">
                            <h4>Login</h4>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <!-- Email input -->
                            <div class="form-floating mb-4">
                                <label class="form-label" for="formLoginEmail">Email</label>
                                <input type="email" name="email" id="formLoginEmail" class="form-control" />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example2">Password</label>
                                <input type="password" name="password" id="form2Example2" class="form-control" />
                            </div>

                            <div class="row mb-4">
                                <div class="col d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                                            checked />
                                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                                    </div>
                                </div>

                                <div class="col">
                                    <a href="{% url 'account:request_password_reset' %}">Forgot password?</a>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>Not a member? <a href="#!" id="signupLink">Register</a></p>
                                <p>or continue with:
                                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"
                                        class="btn btn-primary btn-floating mx-1  mb-0 me-3">
                                        <i class="fab fa-google"></i>
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}