<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>

<body>
    <p>Hello {{ request.user.first_name }},</p>
    <p>Please click the following link to verify your email:</p>
    <p><a href="{{ domain }}{% url 'confirm-email' user.id token %}">Verify Email</a></p>
    <p>If you didn't request this verification, you can ignore this email.</p>
    <p>Thanks,</p>
    <p>Your Application Team</p>
</body>

</html>