{% load static %}
{% load thumbnail %}

<!-- ***** Popular Lots Starts ***** -->
<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h4 class="display-5">Popular Lots</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        {% if popular_lots %}
                        {% for lot in popular_lots %}
                        <a href="{{ lot.get_absolute_url }}" style="text-decoration: none">
                            <div class="item" style="cursor: pointer">
                                <div class="thumb position-relative">
                                    {% with first_image=lot.lotImages.first %}
                                    {% if first_image %}
                                    <img src="{{ first_image.image|thumbnail_url:'home_lot_image_thumbnail' }}"
                                        alt="{{ lot.name }}" />
                                    {% endif %}
                                    {% endwith %}
                                    <span class="favorite-icon position-absolute top-0 end-0 mt-2 me-2">
                                        <i class="bi bi-heart"></i>
                                    </span>
                                </div>
                                <div class="down-content">
                                    <p class="display-5 font-weight-bold text-capitalize">
                                        {{ lot.name }}
                                    </p>
                                    <p class="text-muted text-uppercase">current bid</p>
                                    <p>Rs. {{ lot.starting_price }}</p>
                                    <p class="text-muted">{{ lot.get_time_left }}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Popular Lots Ends ***** -->